/*       * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      } */
      /*       body { font: 13px Helvetica, Arial; } */
/*       div#roomInputArea {
        display: none;
      } */
body {
  min-height: 100% + 100px;
  padding-top: 4.5rem;
  font: 13px Helvetica, Arial;
}
span#shibari{
  font: 18px Helvetica, Arial;
}
span#elevenback{
  font: 18px Helvetica, Arial;
}
span#revolution{
  font: 18px Helvetica, Arial;
}
div#battle1,div#battle2,div#battle3,div#battle4 {
  display:none;
}
div#playerInfoDropdown{
  display:none;
}
.jumbotron {
  padding: 5rem 1rem;
}
nav#bottomController{
  display:none;
}
div#svgArea{
  display: none;
}
ul#cardList2 li {
  /* liが横並びになるようにします。 */
  display: inline-block;
}
ul#cardList2 li .image_box {
  width: 60px;
  height: 70px;
  /* チェックボックスの親要素にrelativeを指定しておきます。 */
  position: relative;
}
ul#field li {
  /* liが横並びになるようにします。 */
  display: inline-block;
}
ul#field li .fieldCardImage {
  width: 90px;
  height: 100px;
}
ul#giveCardList li {
  /* liが横並びになるようにします。 */
  display: inline-block;
}
ul#giveCardList li .giveCardViewImage {
  width: 90px;
  height: 100px;
}
ul#giveCardList li .image_box {
  width: 60px;
  height: 70px;
  /* チェックボックスの親要素にrelativeを指定しておきます。 */
  position: relative;
}
img.giveCardImage{
  width:100%;
  height:100%;
/*   transform: scale(1,1);
  border: 2px solid blue;
  box-sizing: border-box; */
}
.image_box img.giveCardImage.checked {
  /* チェックが入った状態だと、枠が表示されるようにします。 */
  border: 3px solid blue;
  /* 線をwidthとheightに含めるようにします。 */
  box-sizing: border-box;
}
.image_box img.giveCardImage.checked + .disabled_checkbox {
  /* 画像にcheckedクラスが指定されたときは、
  チェックボックスの非表示を解除します。 */
  display: block;
}


img.handCardImage{
  width:100%;
  height:100%;
/*   transform: scale(1,1);
  border: 2px solid blue;
  box-sizing: border-box; */
}
.image_box .disabled_checkbox {
  /* チェックボックスの位置は絶対位置にします。 */
  position: absolute;
  /* チェックボックスは、親要素の右上から12pxの位置に配置します。 */
  top: 6px;
  right: 6px;
  display: none;
}
.image_box img.handCardImage.checked {
  /* チェックが入った状態だと、枠が表示されるようにします。 */
  border: 3px solid blue;
  /* 線をwidthとheightに含めるようにします。 */
  box-sizing: border-box;
}
.image_box img.handCardImage.checked + .disabled_checkbox {
  /* 画像にcheckedクラスが指定されたときは、
  チェックボックスの非表示を解除します。 */
  display: block;
}
.row{
  width: 100%;
}
div#gameController2{
  display: none;
}
span#field{
  font: 24px Helvetica, Arial;
}
div#errorMsg {
  display: none;
}
div#gameArea{
  display: none;
}
div#cardList {
    font: 24px Helvetica, Arial;
}
div#gameCommentaryArea {
    padding:5px;
    border:solid 1px #000;
    font: 13px Helvetica, Arial;
    height:100px;
    overflow:auto;
}
div#giveCardCommentaryArea {
    padding:5px;
    border:solid 1px #000;
    font: 13px Helvetica, Arial;
    height:100px;
    overflow:auto;
}
div#giveCard{
  display: none;
}
      div#gameFieldArea {
        display: none;
      }
      button#rematch {
        display: none;
      }
/*       div#res {
        display: none;
      } */
      #messages {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      #messages li {
        padding: 5px 10px;
      }
      #messages li:nth-child(odd) {
        background: #eee;
      }
      #messages {
        margin-bottom: 40px;
      }