      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      /*       body { font: 13px Helvetica, Arial; } */
/*       div#roomInputArea {
        display: none;
      } */
#mySvg{
  display: none;
}
span#field{
  font: 24px Helvetica, Arial;
}
div#errorMsg {
  display: none;
}
div#gameArea{
  display: none;
}
div#cardList {
    font: 24px Helvetica, Arial;
}
div#gameCommentaryArea {
    padding:5px;
    border:solid 1px #000;
    font: 13px Helvetica, Arial;
    height:100px;
    overflow:auto;
}
      div#gameFieldArea {
        display: none;
      }
      button#rematch {
        display: none;
      }
/*       div#res {
        display: none;
      } */
      #messages {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      #messages li {
        padding: 5px 10px;
      }
      #messages li:nth-child(odd) {
        background: #eee;
      }
      #messages {
        margin-bottom: 40px;
      }